<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Database" connectionString="metadata=res://*/Repositorio.Repositorio.csdl|res://*/Repositorio.Repositorio.ssdl|res://*/Repositorio.Repositorio.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Repositorio" connectionString="metadata=res://*/Repositorio.Repositorio.csdl|res://*/Repositorio.Repositorio.ssdl|res://*/Repositorio.Repositorio.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;MultipleActiveResultSets=True;User Instance=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>