USE [SysCad]
GO
/****** Object:  Table [dbo].[curso]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[curso](
	[idCurso] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
	[descricao] [varchar](100) NULL,
	[valor] [decimal](18, 0) NULL,
	[status] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[curso] ON
INSERT [dbo].[curso] ([idCurso], [nome], [descricao], [valor], [status]) VALUES (2, N'C# Developer', N'Desenvolvimento C#', CAST(1000 AS Decimal(18, 0)), 1)
INSERT [dbo].[curso] ([idCurso], [nome], [descricao], [valor], [status]) VALUES (3, N'php', N'php', CAST(2000 AS Decimal(18, 0)), 1)
INSERT [dbo].[curso] ([idCurso], [nome], [descricao], [valor], [status]) VALUES (4, N'SDD', N'llll', CAST(3000 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[curso] OFF
/****** Object:  Table [dbo].[cargo]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cargo](
	[idCargo] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[descricao] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[menu]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[idMenu] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](100) NOT NULL,
	[url] [nvarchar](200) NULL,
	[grupo] [nvarchar](100) NOT NULL,
	[icon] [nvarchar](50) NULL,
	[nomeTab] [nvarchar](100) NULL,
	[perfis] [nvarchar](200) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[menu] ON
INSERT [dbo].[menu] ([idMenu], [titulo], [url], [grupo], [icon], [nomeTab], [perfis]) VALUES (2, N'Cargo/Funcionário', N'/Cargo/Cargo', N'Cadastro', N'UserSuitBlack', N'idAbaCargo', N'1,2')
INSERT [dbo].[menu] ([idMenu], [titulo], [url], [grupo], [icon], [nomeTab], [perfis]) VALUES (3, N'Curso', N'/Curso/Curso', N'Cadastro', N'ApplicationFormAdd', N'idAbaCurso', N'1,2')
INSERT [dbo].[menu] ([idMenu], [titulo], [url], [grupo], [icon], [nomeTab], [perfis]) VALUES (4, N'Modulo', N'/Modulo/Modulo', N'Cadastro', N'ApplicationFormAdd', N'idAbaModulo', N'1,2')
SET IDENTITY_INSERT [dbo].[menu] OFF
/****** Object:  Table [dbo].[pessoa]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pessoa](
	[idPessoa] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[cpf] [varchar](15) NOT NULL,
	[email] [varchar](50) NULL,
	[telefone] [varchar](14) NULL,
	[celular] [varchar](14) NULL,
	[dataNascimento] [datetime] NOT NULL,
	[sexo] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[pessoa] ON
INSERT [dbo].[pessoa] ([idPessoa], [nome], [cpf], [email], [telefone], [celular], [dataNascimento], [sexo]) VALUES (1, N'Leonardo Oliveira', N'05635686745', N'leolirarj@yahoo.com.br', N'88411859', N'', CAST(0x0000798700000000 AS DateTime), 1)
INSERT [dbo].[pessoa] ([idPessoa], [nome], [cpf], [email], [telefone], [celular], [dataNascimento], [sexo]) VALUES (2, N'Jessica Muniz', N'1231', N'leolira@yahhd', N'3213', N'1231', CAST(0x0000A04B00000000 AS DateTime), 1)
INSERT [dbo].[pessoa] ([idPessoa], [nome], [cpf], [email], [telefone], [celular], [dataNascimento], [sexo]) VALUES (3, N'fatima', N'12312', N'asd', N'1312', N'12312', CAST(0x00008D8000000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[pessoa] OFF
/****** Object:  Table [dbo].[perfil]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[perfil](
	[idPerfil] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[perfil] ON
INSERT [dbo].[perfil] ([idPerfil], [nome]) VALUES (1, N'Adm')
INSERT [dbo].[perfil] ([idPerfil], [nome]) VALUES (2, N'coordenador')
INSERT [dbo].[perfil] ([idPerfil], [nome]) VALUES (3, N'Professor')
SET IDENTITY_INSERT [dbo].[perfil] OFF
/****** Object:  Table [dbo].[tipoEndereco]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipoEndereco](
	[idTipoEndereco] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tipoEndereco] ON
INSERT [dbo].[tipoEndereco] ([idTipoEndereco], [nome]) VALUES (1, N'Cobrança')
SET IDENTITY_INSERT [dbo].[tipoEndereco] OFF
/****** Object:  Table [dbo].[taxa]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[taxa](
	[idTaxa] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[descricao] [varchar](100) NULL,
	[valor] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[taxa] ON
INSERT [dbo].[taxa] ([idTaxa], [nome], [descricao], [valor]) VALUES (1, N'Taxa de Matricula', N'Mensalidade', CAST(500 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[taxa] OFF
/****** Object:  Table [dbo].[status]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[idStatus] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[status] ON
INSERT [dbo].[status] ([idStatus], [descricao]) VALUES (1, N'Aprovado')
INSERT [dbo].[status] ([idStatus], [descricao]) VALUES (2, N'Reprovado')
INSERT [dbo].[status] ([idStatus], [descricao]) VALUES (3, N'Recuperação')
SET IDENTITY_INSERT [dbo].[status] OFF
/****** Object:  Table [dbo].[usuario]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[idPerfil] [int] NOT NULL,
	[login] [varchar](15) NOT NULL,
	[senha] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON
INSERT [dbo].[usuario] ([idUsuario], [idPerfil], [login], [senha]) VALUES (1, 1, N'oliveira', N'eu')
INSERT [dbo].[usuario] ([idUsuario], [idPerfil], [login], [senha]) VALUES (2, 2, N'leo', N'123')
SET IDENTITY_INSERT [dbo].[usuario] OFF
/****** Object:  Table [dbo].[turma]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[turma](
	[idTurma] [int] IDENTITY(1,1) NOT NULL,
	[idCurso] [int] NOT NULL,
	[descricao] [varchar](100) NOT NULL,
	[numeroVagas] [int] NULL,
	[vagasOcupadas] [int] NULL,
	[dataInicio] [datetime] NOT NULL,
	[dataFim] [datetime] NOT NULL,
	[dataFechamento] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[turma] ON
INSERT [dbo].[turma] ([idTurma], [idCurso], [descricao], [numeroVagas], [vagasOcupadas], [dataInicio], [dataFim], [dataFechamento]) VALUES (1, 2, N'Turma 1', 10, 5, CAST(0x0000A04100000000 AS DateTime), CAST(0x0000A07600000000 AS DateTime), CAST(0x0000A0600160CB57 AS DateTime))
SET IDENTITY_INSERT [dbo].[turma] OFF
/****** Object:  Table [dbo].[responsavel]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[responsavel](
	[idResponsavel] [int] IDENTITY(1,1) NOT NULL,
	[grauParentesco] [nvarchar](100) NULL,
	[idPessoa] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modulo]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[modulo](
	[idModulo] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](30) NULL,
	[tempoDuracao] [int] NULL,
	[statusModulo] [int] NULL,
	[idCurso] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[modulo] ON
INSERT [dbo].[modulo] ([idModulo], [nome], [tempoDuracao], [statusModulo], [idCurso]) VALUES (5, N'Word', 100, 1, 11)
INSERT [dbo].[modulo] ([idModulo], [nome], [tempoDuracao], [statusModulo], [idCurso]) VALUES (6, N'Excel', 100, 1, 12)
INSERT [dbo].[modulo] ([idModulo], [nome], [tempoDuracao], [statusModulo], [idCurso]) VALUES (7, N'xxx', 100, 1, 13)
SET IDENTITY_INSERT [dbo].[modulo] OFF
/****** Object:  Table [dbo].[endereco]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[endereco](
	[idEndereco] [int] IDENTITY(1,1) NOT NULL,
	[idTipoEndereco] [int] NOT NULL,
	[idPessoa] [int] NOT NULL,
	[logradouro] [varchar](100) NOT NULL,
	[numero] [int] NOT NULL,
	[complemento] [varchar](100) NULL,
	[CEP] [varchar](9) NOT NULL,
	[bairro] [varchar](50) NOT NULL,
	[cidade] [varchar](50) NOT NULL,
	[uf] [char](2) NOT NULL,
	[tipo] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[endereco] ON
INSERT [dbo].[endereco] ([idEndereco], [idTipoEndereco], [idPessoa], [logradouro], [numero], [complemento], [CEP], [bairro], [cidade], [uf], [tipo]) VALUES (2, 1, 1, N'Rua Wilson Souza Pinheiro', 517, N'casa 01', N'23573120', N'Paciência', N'Rio de Janeiro', N'RJ', 1)
SET IDENTITY_INSERT [dbo].[endereco] OFF
/****** Object:  Table [dbo].[funcionario]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionario](
	[idFuncionario] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idCargo] [int] NOT NULL,
	[idPessoa] [int] NOT NULL,
	[salario] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aluno]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aluno](
	[idAluno] [int] IDENTITY(1,1) NOT NULL,
	[idPessoa] [int] NOT NULL,
	[statusPedagogico] [int] NULL,
	[statusFinanceiro] [int] NULL,
	[idResponsavel] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[aluno] ON
INSERT [dbo].[aluno] ([idAluno], [idPessoa], [statusPedagogico], [statusFinanceiro], [idResponsavel]) VALUES (1, 1, 1, 1, NULL)
INSERT [dbo].[aluno] ([idAluno], [idPessoa], [statusPedagogico], [statusFinanceiro], [idResponsavel]) VALUES (2, 2, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[aluno] OFF
/****** Object:  Table [dbo].[notaFalta]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notaFalta](
	[idNotaFalta] [int] IDENTITY(1,1) NOT NULL,
	[idTurma] [int] NOT NULL,
	[idModulo] [int] NOT NULL,
	[idAluno] [int] NOT NULL,
	[qtdFalta] [int] NULL,
	[nota1] [decimal](3, 1) NULL,
	[nota2] [decimal](3, 1) NULL,
	[situacaoAluno] [int] NULL,
	[notaFinal] [decimal](3, 1) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[notaFalta] ON
INSERT [dbo].[notaFalta] ([idNotaFalta], [idTurma], [idModulo], [idAluno], [qtdFalta], [nota1], [nota2], [situacaoAluno], [notaFinal]) VALUES (16, 1, 9, 1, 10, CAST(5.0 AS Decimal(3, 1)), CAST(8.0 AS Decimal(3, 1)), 1, CAST(7.0 AS Decimal(3, 1)))
INSERT [dbo].[notaFalta] ([idNotaFalta], [idTurma], [idModulo], [idAluno], [qtdFalta], [nota1], [nota2], [situacaoAluno], [notaFinal]) VALUES (17, 1, 9, 2, 50, CAST(7.0 AS Decimal(3, 1)), NULL, 2, CAST(7.0 AS Decimal(3, 1)))
SET IDENTITY_INSERT [dbo].[notaFalta] OFF
/****** Object:  Table [dbo].[cobranca]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cobranca](
	[idCobranca] [int] IDENTITY(1,1) NOT NULL,
	[idTaxa] [int] NULL,
	[idAluno] [int] NOT NULL,
	[statusPagamento] [int] NULL,
	[valorTotal] [decimal](18, 2) NULL,
	[juros] [decimal](18, 2) NULL,
	[dataVencimento] [datetime] NULL,
	[idCurso] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cobranca] ON
INSERT [dbo].[cobranca] ([idCobranca], [idTaxa], [idAluno], [statusPagamento], [valorTotal], [juros], [dataVencimento], [idCurso]) VALUES (1, 1, 1, 7, CAST(500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A06C00000000 AS DateTime), NULL)
INSERT [dbo].[cobranca] ([idCobranca], [idTaxa], [idAluno], [statusPagamento], [valorTotal], [juros], [dataVencimento], [idCurso]) VALUES (10, NULL, 1, 6, CAST(1000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A04F001F9038 AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[cobranca] OFF
/****** Object:  Table [dbo].[matricula]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[matricula](
	[idMatricula] [int] IDENTITY(1,1) NOT NULL,
	[idAluno] [int] NOT NULL,
	[numeroMatricula] [int] NOT NULL,
	[dataRegistro] [datetime] NOT NULL,
	[dataCancelamento] [datetime] NULL,
	[tipo] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[matricula] ON
INSERT [dbo].[matricula] ([idMatricula], [idAluno], [numeroMatricula], [dataRegistro], [dataCancelamento], [tipo]) VALUES (1, 1, 1, CAST(0x0000A04200084E61 AS DateTime), NULL, N'matricula')
INSERT [dbo].[matricula] ([idMatricula], [idAluno], [numeroMatricula], [dataRegistro], [dataCancelamento], [tipo]) VALUES (2, 2, 123, CAST(0x0000A060015CA135 AS DateTime), NULL, N'matricula')
SET IDENTITY_INSERT [dbo].[matricula] OFF
/****** Object:  Table [dbo].[pagamento]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagamento](
	[idPagamento] [int] IDENTITY(1,1) NOT NULL,
	[idCobranca] [int] NOT NULL,
	[valor] [decimal](18, 2) NOT NULL,
	[formaPag] [int] NOT NULL,
	[dataPagamento] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pagamento] ON
INSERT [dbo].[pagamento] ([idPagamento], [idCobranca], [valor], [formaPag], [dataPagamento]) VALUES (45, 10, CAST(1.50 AS Decimal(18, 2)), 1, CAST(0x0000A05F014A9B00 AS DateTime))
INSERT [dbo].[pagamento] ([idPagamento], [idCobranca], [valor], [formaPag], [dataPagamento]) VALUES (46, 10, CAST(100.40 AS Decimal(18, 2)), 1, CAST(0x0000A05F014DA783 AS DateTime))
INSERT [dbo].[pagamento] ([idPagamento], [idCobranca], [valor], [formaPag], [dataPagamento]) VALUES (47, 10, CAST(100.10 AS Decimal(18, 2)), 1, CAST(0x0000A05F014DC99A AS DateTime))
SET IDENTITY_INSERT [dbo].[pagamento] OFF
/****** Object:  Table [dbo].[matriculaTurma]    Script Date: 06/05/2012 21:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[matriculaTurma](
	[idTurma] [int] NOT NULL,
	[idMatricula] [int] NOT NULL,
	[idMatriculaTurma] [int] IDENTITY(1,1) NOT NULL,
	[situacaoAluno] [int] NULL,
	[notaFinal] [decimal](3, 1) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[matriculaTurma] ON
INSERT [dbo].[matriculaTurma] ([idTurma], [idMatricula], [idMatriculaTurma], [situacaoAluno], [notaFinal]) VALUES (1, 1, 1, 9, CAST(7.0 AS Decimal(3, 1)))
INSERT [dbo].[matriculaTurma] ([idTurma], [idMatricula], [idMatriculaTurma], [situacaoAluno], [notaFinal]) VALUES (1, 2, 2, 9, NULL)
SET IDENTITY_INSERT [dbo].[matriculaTurma] OFF
/****** Object:  Default [DF_aluno_idResponsavel]    Script Date: 06/05/2012 21:46:10 ******/
ALTER TABLE [dbo].[aluno] ADD  CONSTRAINT [DF_aluno_idResponsavel]  DEFAULT ((0)) FOR [idResponsavel]
GO
/****** Object:  Default [DF_NotaFinal2]    Script Date: 06/05/2012 21:46:10 ******/
ALTER TABLE [dbo].[matriculaTurma] ADD  CONSTRAINT [DF_NotaFinal2]  DEFAULT ((0)) FOR [notaFinal]
GO
/****** Object:  Default [DF_QtdFaltas]    Script Date: 06/05/2012 21:46:10 ******/
ALTER TABLE [dbo].[notaFalta] ADD  CONSTRAINT [DF_QtdFaltas]  DEFAULT ((0)) FOR [qtdFalta]
GO
/****** Object:  Default [DF_Nota1]    Script Date: 06/05/2012 21:46:10 ******/
ALTER TABLE [dbo].[notaFalta] ADD  CONSTRAINT [DF_Nota1]  DEFAULT ((0)) FOR [nota1]
GO
/****** Object:  Default [DF_Nota2]    Script Date: 06/05/2012 21:46:10 ******/
ALTER TABLE [dbo].[notaFalta] ADD  CONSTRAINT [DF_Nota2]  DEFAULT ((0)) FOR [nota2]
GO
/****** Object:  Default [DF_NotaFinal]    Script Date: 06/05/2012 21:46:10 ******/
ALTER TABLE [dbo].[notaFalta] ADD  CONSTRAINT [DF_NotaFinal]  DEFAULT ((0)) FOR [notaFinal]
GO
