USE [SysCad]
GO
/****** Object:  Table [dbo].[curso]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[curso](
	[idCurso] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
	[descricao] [varchar](100) NULL,
	[valor] [decimal](18, 0) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_curso] PRIMARY KEY CLUSTERED 
(
	[idCurso] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[curso] ON
INSERT [dbo].[curso] ([idCurso], [nome], [descricao], [valor], [status]) VALUES (3, N'WebDeveloper C#.Net', N'O curso WebDeveloper C#.Net visa a capacitação do aluno para atuar como programador na plat. .NET', CAST(3120 AS Decimal(18, 0)), 4)
INSERT [dbo].[curso] ([idCurso], [nome], [descricao], [valor], [status]) VALUES (4, N'PHP + MySQL', N'Inicialização ao PHP e MYSQL', CAST(1000 AS Decimal(18, 0)), 4)
INSERT [dbo].[curso] ([idCurso], [nome], [descricao], [valor], [status]) VALUES (5, N'PHP com Zend Framework + MySQL', N'PHP utilizando framework zend e banco de dados MySQL, estrutura MVC e programação orientada', CAST(2500 AS Decimal(18, 0)), 4)
SET IDENTITY_INSERT [dbo].[curso] OFF
/****** Object:  Table [dbo].[cargo]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cargo](
	[idCargo] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[descricao] [varchar](100) NULL,
 CONSTRAINT [PK_cargo] PRIMARY KEY CLUSTERED 
(
	[idCargo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[cargo] ON
INSERT [dbo].[cargo] ([idCargo], [nome], [descricao]) VALUES (1, N'Diretor', N'Responsável pelos processos da instituição e liderar seus funcionários')
INSERT [dbo].[cargo] ([idCargo], [nome], [descricao]) VALUES (2, N'Professor', N'Responsável pelas aulas ministradas na instituição')
INSERT [dbo].[cargo] ([idCargo], [nome], [descricao]) VALUES (3, N'Coordenador', N'Responsável por liderar a equipe pedagógica da instituição')
SET IDENTITY_INSERT [dbo].[cargo] OFF
/****** Object:  Table [dbo].[menu]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[idMenu] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](100) NOT NULL,
	[url] [nvarchar](200) NULL,
	[grupo] [nvarchar](100) NOT NULL,
	[icon] [nvarchar](50) NULL,
	[nomeTab] [nvarchar](100) NULL,
	[perfis] [nvarchar](200) NULL,
 CONSTRAINT [PK_IdMenu] PRIMARY KEY CLUSTERED 
(
	[idMenu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[menu] ON
INSERT [dbo].[menu] ([idMenu], [titulo], [url], [grupo], [icon], [nomeTab], [perfis]) VALUES (2, N'Cargo/Funcionário', N'/Cargo/Cargo', N'Cadastro', N'UserSuitBlack', N'idAbaCargo', N'1,2')
INSERT [dbo].[menu] ([idMenu], [titulo], [url], [grupo], [icon], [nomeTab], [perfis]) VALUES (3, N'Curso', N'/Curso/Curso', N'Cadastro', N'ApplicationFormAdd', N'idAbaCurso', N'1,2,4')
INSERT [dbo].[menu] ([idMenu], [titulo], [url], [grupo], [icon], [nomeTab], [perfis]) VALUES (4, N'Módulo', N'/Modulo/Modulo', N'Cadastro', N'ApplicationFormAdd', N'idAbaModulo', N'1,2,4')
SET IDENTITY_INSERT [dbo].[menu] OFF
/****** Object:  Table [dbo].[funcionarioEspecializacao]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionarioEspecializacao](
	[idFuncionarioEspecializacao] [int] IDENTITY(1,1) NOT NULL,
	[idFuncionario] [int] NOT NULL,
	[idEspecializacao] [int] NOT NULL,
 CONSTRAINT [PK_funcionarioEspecializacao] PRIMARY KEY CLUSTERED 
(
	[idFuncionarioEspecializacao] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[funcionarioEspecializacao] ON
INSERT [dbo].[funcionarioEspecializacao] ([idFuncionarioEspecializacao], [idFuncionario], [idEspecializacao]) VALUES (3, 2, 4)
INSERT [dbo].[funcionarioEspecializacao] ([idFuncionarioEspecializacao], [idFuncionario], [idEspecializacao]) VALUES (4, 5, 5)
INSERT [dbo].[funcionarioEspecializacao] ([idFuncionarioEspecializacao], [idFuncionario], [idEspecializacao]) VALUES (5, 7, 5)
SET IDENTITY_INSERT [dbo].[funcionarioEspecializacao] OFF
/****** Object:  Table [dbo].[especializacao]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[especializacao](
	[idEspecializacao] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](255) NULL,
 CONSTRAINT [PK_especializacao] PRIMARY KEY CLUSTERED 
(
	[idEspecializacao] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[especializacao] ON
INSERT [dbo].[especializacao] ([idEspecializacao], [nome]) VALUES (4, N'WEB C#')
INSERT [dbo].[especializacao] ([idEspecializacao], [nome]) VALUES (5, N'PHP + MySQL')
INSERT [dbo].[especializacao] ([idEspecializacao], [nome]) VALUES (6, N'PHP + Zend Framework + MySQL')
SET IDENTITY_INSERT [dbo].[especializacao] OFF
/****** Object:  Table [dbo].[pessoa]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pessoa](
	[idPessoa] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[cpf] [varchar](15) NOT NULL,
	[email] [varchar](50) NULL,
	[telefone] [varchar](14) NULL,
	[celular] [varchar](14) NULL,
	[dataNascimento] [datetime] NOT NULL,
	[sexo] [int] NOT NULL,
 CONSTRAINT [PK_pessoa] PRIMARY KEY CLUSTERED 
(
	[idPessoa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[pessoa] ON
INSERT [dbo].[pessoa] ([idPessoa], [nome], [cpf], [email], [telefone], [celular], [dataNascimento], [sexo]) VALUES (1, N'Diego Pessanha Bentes', N'05838408766', N'diego.pessanha@grupoitec.com.br', N'(21) 3317-7508', N'(21) 9866-3599', CAST(0x0000824100000000 AS DateTime), 1)
INSERT [dbo].[pessoa] ([idPessoa], [nome], [cpf], [email], [telefone], [celular], [dataNascimento], [sexo]) VALUES (2, N'Leonardo Lira', N'03124551605', N'leolirarj@yahoo.com.br', N'(21) 2487-4566', N'(21) 9547-2183', CAST(0x0000782800000000 AS DateTime), 1)
INSERT [dbo].[pessoa] ([idPessoa], [nome], [cpf], [email], [telefone], [celular], [dataNascimento], [sexo]) VALUES (3, N'Renan de Almeida Valente', N'13543740709', N'renan.valente@ravsistema.com.br', N'(21) 2416-0077', N'(21) 8505-0932', CAST(0x00007F9E00000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[pessoa] OFF
/****** Object:  Table [dbo].[perfil]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[perfil](
	[idPerfil] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
 CONSTRAINT [PK_perfil] PRIMARY KEY CLUSTERED 
(
	[idPerfil] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[perfil] ON
INSERT [dbo].[perfil] ([idPerfil], [nome]) VALUES (1, N'Adm. Sistema')
INSERT [dbo].[perfil] ([idPerfil], [nome]) VALUES (2, N'Diretor')
INSERT [dbo].[perfil] ([idPerfil], [nome]) VALUES (3, N'Professor')
SET IDENTITY_INSERT [dbo].[perfil] OFF
/****** Object:  Table [dbo].[tipoEndereco]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipoEndereco](
	[idTipoEndereco] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
 CONSTRAINT [PK_tipoEndereco] PRIMARY KEY CLUSTERED 
(
	[idTipoEndereco] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tipoEndereco] ON
INSERT [dbo].[tipoEndereco] ([idTipoEndereco], [nome]) VALUES (1, N'Cobrança')
INSERT [dbo].[tipoEndereco] ([idTipoEndereco], [nome]) VALUES (2, N'Residencial')
INSERT [dbo].[tipoEndereco] ([idTipoEndereco], [nome]) VALUES (3, N'Comercial')
SET IDENTITY_INSERT [dbo].[tipoEndereco] OFF
/****** Object:  Table [dbo].[taxa]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[taxa](
	[idTaxa] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[descricao] [varchar](100) NULL,
	[valor] [decimal](18, 0) NULL,
 CONSTRAINT [PK_taxa] PRIMARY KEY CLUSTERED 
(
	[idTaxa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[taxa] ON
INSERT [dbo].[taxa] ([idTaxa], [nome], [descricao], [valor]) VALUES (1, N'Taxa de Matrícula', N'Taxa referente a realização da matricula do aluno', CAST(30 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[taxa] OFF
/****** Object:  Table [dbo].[status]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[idStatus] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idStatus] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[status] ON
INSERT [dbo].[status] ([idStatus], [descricao]) VALUES (1, N'Aprovado')
INSERT [dbo].[status] ([idStatus], [descricao]) VALUES (2, N'Reprovado')
INSERT [dbo].[status] ([idStatus], [descricao]) VALUES (3, N'Recuperacao')
SET IDENTITY_INSERT [dbo].[status] OFF
/****** Object:  Table [dbo].[modulo]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[modulo](
	[idModulo] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](30) NULL,
	[tempoDuracao] [int] NULL,
	[statusModulo] [int] NULL,
	[idCurso] [int] NOT NULL,
 CONSTRAINT [PK_modulo] PRIMARY KEY CLUSTERED 
(
	[idModulo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[modulo] ON
INSERT [dbo].[modulo] ([idModulo], [nome], [tempoDuracao], [statusModulo], [idCurso]) VALUES (1, N'C# Orientado a Objetos', 5, 4, 3)
INSERT [dbo].[modulo] ([idModulo], [nome], [tempoDuracao], [statusModulo], [idCurso]) VALUES (2, N'Asp.Net, C# e Frameworks', 17, 4, 3)
INSERT [dbo].[modulo] ([idModulo], [nome], [tempoDuracao], [statusModulo], [idCurso]) VALUES (3, N'Logica de programação', 3, 4, 4)
SET IDENTITY_INSERT [dbo].[modulo] OFF
/****** Object:  Table [dbo].[responsavel]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[responsavel](
	[idResponsavel] [int] IDENTITY(1,1) NOT NULL,
	[grauParentesco] [nvarchar](100) NULL,
	[idPessoa] [int] NOT NULL,
 CONSTRAINT [PK_responsavel] PRIMARY KEY CLUSTERED 
(
	[idResponsavel] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[responsavel] ON
INSERT [dbo].[responsavel] ([idResponsavel], [grauParentesco], [idPessoa]) VALUES (1, N'filho', 6)
INSERT [dbo].[responsavel] ([idResponsavel], [grauParentesco], [idPessoa]) VALUES (2, N'Pai', 6)
INSERT [dbo].[responsavel] ([idResponsavel], [grauParentesco], [idPessoa]) VALUES (3, N'Pai', 6)
SET IDENTITY_INSERT [dbo].[responsavel] OFF
/****** Object:  Table [dbo].[usuario]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[idPerfil] [int] NOT NULL,
	[login] [varchar](15) NOT NULL,
	[senha] [varchar](100) NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON
INSERT [dbo].[usuario] ([idUsuario], [idPerfil], [login], [senha]) VALUES (1, 1, N'administrador', N'1')
INSERT [dbo].[usuario] ([idUsuario], [idPerfil], [login], [senha]) VALUES (2, 2, N'diretor', N'1')
INSERT [dbo].[usuario] ([idUsuario], [idPerfil], [login], [senha]) VALUES (3, 3, N'professor', N'1')
SET IDENTITY_INSERT [dbo].[usuario] OFF
/****** Object:  Table [dbo].[endereco]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[endereco](
	[idEndereco] [int] IDENTITY(1,1) NOT NULL,
	[idTipoEndereco] [int] NOT NULL,
	[idPessoa] [int] NOT NULL,
	[logradouro] [varchar](100) NOT NULL,
	[numero] [int] NOT NULL,
	[complemento] [varchar](100) NULL,
	[CEP] [varchar](9) NOT NULL,
	[bairro] [varchar](50) NOT NULL,
	[cidade] [varchar](50) NOT NULL,
	[uf] [char](2) NOT NULL,
	[tipo] [int] NULL,
 CONSTRAINT [PK_endereco] PRIMARY KEY CLUSTERED 
(
	[idEndereco] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[endereco] ON
INSERT [dbo].[endereco] ([idEndereco], [idTipoEndereco], [idPessoa], [logradouro], [numero], [complemento], [CEP], [bairro], [cidade], [uf], [tipo]) VALUES (1, 1, 1, N'Rua Sacramento Blacke', 87, N'Fundos', N'23052-160', N'Campo Grande', N'Rio de Janeiro', N'RJ', 0)
INSERT [dbo].[endereco] ([idEndereco], [idTipoEndereco], [idPessoa], [logradouro], [numero], [complemento], [CEP], [bairro], [cidade], [uf], [tipo]) VALUES (2, 2, 1, N'Rua Sacramento Blacke', 87, N'Fundos', N'23052-160', N'Campo Grande', N'Rio de Janeiro', N'RJ', 0)
INSERT [dbo].[endereco] ([idEndereco], [idTipoEndereco], [idPessoa], [logradouro], [numero], [complemento], [CEP], [bairro], [cidade], [uf], [tipo]) VALUES (3, 3, 1, N'Rua México', 41, N'Sala 402', N'23041-523', N'Centro', N'Rio de Janeiro', N'RJ', 0)
SET IDENTITY_INSERT [dbo].[endereco] OFF
/****** Object:  Table [dbo].[funcionario]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionario](
	[idFuncionario] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idCargo] [int] NOT NULL,
	[idPessoa] [int] NOT NULL,
	[salario] [decimal](18, 0) NULL,
 CONSTRAINT [PK_funcionario] PRIMARY KEY CLUSTERED 
(
	[idFuncionario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[funcionario] ON
INSERT [dbo].[funcionario] ([idFuncionario], [idUsuario], [idCargo], [idPessoa], [salario]) VALUES (1, 6, 1, 1, CAST(3000 AS Decimal(18, 0)))
INSERT [dbo].[funcionario] ([idFuncionario], [idUsuario], [idCargo], [idPessoa], [salario]) VALUES (2, 7, 2, 2, CAST(2000 AS Decimal(18, 0)))
INSERT [dbo].[funcionario] ([idFuncionario], [idUsuario], [idCargo], [idPessoa], [salario]) VALUES (3, 8, 3, 3, CAST(2500 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[funcionario] OFF
/****** Object:  Table [dbo].[aluno]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aluno](
	[idAluno] [int] IDENTITY(1,1) NOT NULL,
	[idPessoa] [int] NOT NULL,
	[statusPedagogico] [int] NULL,
	[statusFinanceiro] [int] NULL,
	[idResponsavel] [int] NULL,
 CONSTRAINT [PK_aluno] PRIMARY KEY CLUSTERED 
(
	[idAluno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[aluno] ON
INSERT [dbo].[aluno] ([idAluno], [idPessoa], [statusPedagogico], [statusFinanceiro], [idResponsavel]) VALUES (1, 5, 0, 0, 1)
INSERT [dbo].[aluno] ([idAluno], [idPessoa], [statusPedagogico], [statusFinanceiro], [idResponsavel]) VALUES (2, 7, 0, 0, NULL)
INSERT [dbo].[aluno] ([idAluno], [idPessoa], [statusPedagogico], [statusFinanceiro], [idResponsavel]) VALUES (3, 8, 0, 0, 2)
SET IDENTITY_INSERT [dbo].[aluno] OFF
/****** Object:  Table [dbo].[cobranca]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cobranca](
	[idCobranca] [int] IDENTITY(1,1) NOT NULL,
	[idTaxa] [int] NULL,
	[idAluno] [int] NOT NULL,
	[statusPagamento] [int] NULL,
	[valorTotal] [decimal](18, 2) NULL,
	[juros] [decimal](18, 2) NULL,
	[dataVencimento] [datetime] NULL,
	[idCurso] [int] NULL,
 CONSTRAINT [PK_cobranca] PRIMARY KEY CLUSTERED 
(
	[idCobranca] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cobranca] ON
INSERT [dbo].[cobranca] ([idCobranca], [idTaxa], [idAluno], [statusPagamento], [valorTotal], [juros], [dataVencimento], [idCurso]) VALUES (1, 1, 1, 7, CAST(30.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A07900000000 AS DateTime), NULL)
INSERT [dbo].[cobranca] ([idCobranca], [idTaxa], [idAluno], [statusPagamento], [valorTotal], [juros], [dataVencimento], [idCurso]) VALUES (2, 1, 2, 7, CAST(30.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A081014DAA22 AS DateTime), NULL)
INSERT [dbo].[cobranca] ([idCobranca], [idTaxa], [idAluno], [statusPagamento], [valorTotal], [juros], [dataVencimento], [idCurso]) VALUES (3, 1, 3, 7, CAST(30.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A081014DC72E AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[cobranca] OFF
/****** Object:  Table [dbo].[matricula]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[matricula](
	[idMatricula] [int] IDENTITY(1,1) NOT NULL,
	[idAluno] [int] NOT NULL,
	[numeroMatricula] [int] NOT NULL,
	[dataRegistro] [datetime] NOT NULL,
	[dataCancelamento] [datetime] NULL,
	[tipo] [varchar](30) NOT NULL,
 CONSTRAINT [PK_matricula] PRIMARY KEY CLUSTERED 
(
	[idMatricula] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[matricula] ON
INSERT [dbo].[matricula] ([idMatricula], [idAluno], [numeroMatricula], [dataRegistro], [dataCancelamento], [tipo]) VALUES (1, 1, 1, CAST(0x0000A0790162471A AS DateTime), NULL, N'matricula')
INSERT [dbo].[matricula] ([idMatricula], [idAluno], [numeroMatricula], [dataRegistro], [dataCancelamento], [tipo]) VALUES (2, 2, 2, CAST(0x0000A07C014DA97C AS DateTime), NULL, N'matricula')
INSERT [dbo].[matricula] ([idMatricula], [idAluno], [numeroMatricula], [dataRegistro], [dataCancelamento], [tipo]) VALUES (3, 3, 3, CAST(0x0000A07C014DC71F AS DateTime), NULL, N'matricula')
SET IDENTITY_INSERT [dbo].[matricula] OFF
/****** Object:  Table [dbo].[turma]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[turma](
	[idTurma] [int] IDENTITY(1,1) NOT NULL,
	[idCurso] [int] NOT NULL,
	[descricao] [varchar](100) NOT NULL,
	[numeroVagas] [int] NULL,
	[vagasOcupadas] [int] NULL,
	[dataInicio] [datetime] NOT NULL,
	[dataFim] [datetime] NOT NULL,
	[dataFechamento] [datetime] NULL,
	[status] [int] NULL,
	[idFuncionario] [int] NULL,
	[justificativa] [nvarchar](max) NULL,
 CONSTRAINT [PK_turma] PRIMARY KEY CLUSTERED 
(
	[idTurma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[turma] ON
INSERT [dbo].[turma] ([idTurma], [idCurso], [descricao], [numeroVagas], [vagasOcupadas], [dataInicio], [dataFim], [dataFechamento], [status], [idFuncionario], [justificativa]) VALUES (1, 3, N'1001', 10, 5, CAST(0x0000A07800000000 AS DateTime), CAST(0x0000A07900000000 AS DateTime), NULL, 11, 2, NULL)
INSERT [dbo].[turma] ([idTurma], [idCurso], [descricao], [numeroVagas], [vagasOcupadas], [dataInicio], [dataFim], [dataFechamento], [status], [idFuncionario], [justificativa]) VALUES (2, 8, N'1002', 10, 2, CAST(0x0000A08100000000 AS DateTime), CAST(0x0000A09F00000000 AS DateTime), NULL, 11, 7, NULL)
INSERT [dbo].[turma] ([idTurma], [idCurso], [descricao], [numeroVagas], [vagasOcupadas], [dataInicio], [dataFim], [dataFechamento], [status], [idFuncionario], [justificativa]) VALUES (3, 4, N'1003', 10, 1, CAST(0x0000A08100000000 AS DateTime), CAST(0x0000A09F00000000 AS DateTime), NULL, 11, 5, NULL)
SET IDENTITY_INSERT [dbo].[turma] OFF
/****** Object:  Table [dbo].[pagamento]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagamento](
	[idPagamento] [int] IDENTITY(1,1) NOT NULL,
	[idCobranca] [int] NOT NULL,
	[valor] [decimal](18, 2) NOT NULL,
	[formaPag] [int] NOT NULL,
	[dataPagamento] [datetime] NOT NULL,
 CONSTRAINT [PK_pagamento] PRIMARY KEY CLUSTERED 
(
	[idPagamento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notaFalta]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notaFalta](
	[idNotaFalta] [int] IDENTITY(1,1) NOT NULL,
	[idTurma] [int] NOT NULL,
	[idModulo] [int] NOT NULL,
	[idAluno] [int] NOT NULL,
	[qtdFalta] [int] NULL,
	[nota1] [decimal](3, 1) NULL,
	[nota2] [decimal](3, 1) NULL,
	[situacaoAluno] [int] NULL,
	[notaFinal] [decimal](3, 1) NULL,
 CONSTRAINT [PK_notaFalta] PRIMARY KEY CLUSTERED 
(
	[idNotaFalta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[notaFalta] ON
INSERT [dbo].[notaFalta] ([idNotaFalta], [idTurma], [idModulo], [idAluno], [qtdFalta], [nota1], [nota2], [situacaoAluno], [notaFinal]) VALUES (1, 9, 9, 7, 0, CAST(10.0 AS Decimal(3, 1)), NULL, 1, CAST(10.0 AS Decimal(3, 1)))
INSERT [dbo].[notaFalta] ([idNotaFalta], [idTurma], [idModulo], [idAluno], [qtdFalta], [nota1], [nota2], [situacaoAluno], [notaFinal]) VALUES (2, 9, 9, 8, 0, CAST(9.0 AS Decimal(3, 1)), NULL, 1, CAST(9.0 AS Decimal(3, 1)))
INSERT [dbo].[notaFalta] ([idNotaFalta], [idTurma], [idModulo], [idAluno], [qtdFalta], [nota1], [nota2], [situacaoAluno], [notaFinal]) VALUES (3, 9, 9, 9, 0, CAST(8.5 AS Decimal(3, 1)), NULL, 1, CAST(8.5 AS Decimal(3, 1)))
SET IDENTITY_INSERT [dbo].[notaFalta] OFF
/****** Object:  Table [dbo].[matriculaTurma]    Script Date: 07/06/2012 21:15:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[matriculaTurma](
	[idTurma] [int] NOT NULL,
	[idMatricula] [int] NOT NULL,
	[idMatriculaTurma] [int] IDENTITY(1,1) NOT NULL,
	[situacaoAluno] [int] NULL,
	[notaFinal] [decimal](3, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[idMatriculaTurma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[matriculaTurma] ON
INSERT [dbo].[matriculaTurma] ([idTurma], [idMatricula], [idMatriculaTurma], [situacaoAluno], [notaFinal]) VALUES (1, 1, 1, NULL, NULL)
INSERT [dbo].[matriculaTurma] ([idTurma], [idMatricula], [idMatriculaTurma], [situacaoAluno], [notaFinal]) VALUES (1, 2, 2, NULL, NULL)
INSERT [dbo].[matriculaTurma] ([idTurma], [idMatricula], [idMatriculaTurma], [situacaoAluno], [notaFinal]) VALUES (1, 3, 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[matriculaTurma] OFF
/****** Object:  Default [DF_aluno_idResponsavel]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[aluno] ADD  CONSTRAINT [DF_aluno_idResponsavel]  DEFAULT ((0)) FOR [idResponsavel]
GO
/****** Object:  Default [DF_NotaFinal2]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[matriculaTurma] ADD  CONSTRAINT [DF_NotaFinal2]  DEFAULT ((0)) FOR [notaFinal]
GO
/****** Object:  Default [DF_QtdFaltas]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[notaFalta] ADD  CONSTRAINT [DF_QtdFaltas]  DEFAULT ((0)) FOR [qtdFalta]
GO
/****** Object:  Default [DF_Nota1]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[notaFalta] ADD  CONSTRAINT [DF_Nota1]  DEFAULT ((0)) FOR [nota1]
GO
/****** Object:  Default [DF_Nota2]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[notaFalta] ADD  CONSTRAINT [DF_Nota2]  DEFAULT ((0)) FOR [nota2]
GO
/****** Object:  Default [DF_NotaFinal]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[notaFalta] ADD  CONSTRAINT [DF_NotaFinal]  DEFAULT ((0)) FOR [notaFinal]
GO
/****** Object:  ForeignKey [FK_aluno_pessoa]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[aluno]  WITH CHECK ADD  CONSTRAINT [FK_aluno_pessoa] FOREIGN KEY([idPessoa])
REFERENCES [dbo].[pessoa] ([idPessoa])
GO
ALTER TABLE [dbo].[aluno] CHECK CONSTRAINT [FK_aluno_pessoa]
GO
/****** Object:  ForeignKey [FK_aluno_responsavel]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[aluno]  WITH CHECK ADD  CONSTRAINT [FK_aluno_responsavel] FOREIGN KEY([idResponsavel])
REFERENCES [dbo].[responsavel] ([idResponsavel])
GO
ALTER TABLE [dbo].[aluno] CHECK CONSTRAINT [FK_aluno_responsavel]
GO
/****** Object:  ForeignKey [FK_cobranca_aluno]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[cobranca]  WITH CHECK ADD  CONSTRAINT [FK_cobranca_aluno] FOREIGN KEY([idAluno])
REFERENCES [dbo].[aluno] ([idAluno])
GO
ALTER TABLE [dbo].[cobranca] CHECK CONSTRAINT [FK_cobranca_aluno]
GO
/****** Object:  ForeignKey [FK_cobranca_curso]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[cobranca]  WITH CHECK ADD  CONSTRAINT [FK_cobranca_curso] FOREIGN KEY([idCurso])
REFERENCES [dbo].[curso] ([idCurso])
GO
ALTER TABLE [dbo].[cobranca] CHECK CONSTRAINT [FK_cobranca_curso]
GO
/****** Object:  ForeignKey [FK_cobranca_taxa]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[cobranca]  WITH CHECK ADD  CONSTRAINT [FK_cobranca_taxa] FOREIGN KEY([idTaxa])
REFERENCES [dbo].[taxa] ([idTaxa])
GO
ALTER TABLE [dbo].[cobranca] CHECK CONSTRAINT [FK_cobranca_taxa]
GO
/****** Object:  ForeignKey [FK_endereco_pessoa]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[endereco]  WITH CHECK ADD  CONSTRAINT [FK_endereco_pessoa] FOREIGN KEY([idPessoa])
REFERENCES [dbo].[pessoa] ([idPessoa])
GO
ALTER TABLE [dbo].[endereco] CHECK CONSTRAINT [FK_endereco_pessoa]
GO
/****** Object:  ForeignKey [FK_endereco_tipoEndereco]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[endereco]  WITH CHECK ADD  CONSTRAINT [FK_endereco_tipoEndereco] FOREIGN KEY([idTipoEndereco])
REFERENCES [dbo].[tipoEndereco] ([idTipoEndereco])
GO
ALTER TABLE [dbo].[endereco] CHECK CONSTRAINT [FK_endereco_tipoEndereco]
GO
/****** Object:  ForeignKey [FK_funcionario_cargo]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[funcionario]  WITH CHECK ADD  CONSTRAINT [FK_funcionario_cargo] FOREIGN KEY([idCargo])
REFERENCES [dbo].[cargo] ([idCargo])
GO
ALTER TABLE [dbo].[funcionario] CHECK CONSTRAINT [FK_funcionario_cargo]
GO
/****** Object:  ForeignKey [FK_funcionario_pessoa]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[funcionario]  WITH CHECK ADD  CONSTRAINT [FK_funcionario_pessoa] FOREIGN KEY([idPessoa])
REFERENCES [dbo].[pessoa] ([idPessoa])
GO
ALTER TABLE [dbo].[funcionario] CHECK CONSTRAINT [FK_funcionario_pessoa]
GO
/****** Object:  ForeignKey [FK_funcionario_usuario]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[funcionario]  WITH CHECK ADD  CONSTRAINT [FK_funcionario_usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[funcionario] CHECK CONSTRAINT [FK_funcionario_usuario]
GO
/****** Object:  ForeignKey [FK_matricula_aluno]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[matricula]  WITH CHECK ADD  CONSTRAINT [FK_matricula_aluno] FOREIGN KEY([idAluno])
REFERENCES [dbo].[aluno] ([idAluno])
GO
ALTER TABLE [dbo].[matricula] CHECK CONSTRAINT [FK_matricula_aluno]
GO
/****** Object:  ForeignKey [FK_matriculaTurma_matricula]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[matriculaTurma]  WITH CHECK ADD  CONSTRAINT [FK_matriculaTurma_matricula] FOREIGN KEY([idMatricula])
REFERENCES [dbo].[matricula] ([idMatricula])
GO
ALTER TABLE [dbo].[matriculaTurma] CHECK CONSTRAINT [FK_matriculaTurma_matricula]
GO
/****** Object:  ForeignKey [FK_matriculaTurma_turma]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[matriculaTurma]  WITH CHECK ADD  CONSTRAINT [FK_matriculaTurma_turma] FOREIGN KEY([idTurma])
REFERENCES [dbo].[turma] ([idTurma])
GO
ALTER TABLE [dbo].[matriculaTurma] CHECK CONSTRAINT [FK_matriculaTurma_turma]
GO
/****** Object:  ForeignKey [FK_modulo_curso]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[modulo]  WITH CHECK ADD  CONSTRAINT [FK_modulo_curso] FOREIGN KEY([idCurso])
REFERENCES [dbo].[curso] ([idCurso])
GO
ALTER TABLE [dbo].[modulo] CHECK CONSTRAINT [FK_modulo_curso]
GO
/****** Object:  ForeignKey [FK_notaFalta_aluno]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[notaFalta]  WITH CHECK ADD  CONSTRAINT [FK_notaFalta_aluno] FOREIGN KEY([idAluno])
REFERENCES [dbo].[aluno] ([idAluno])
GO
ALTER TABLE [dbo].[notaFalta] CHECK CONSTRAINT [FK_notaFalta_aluno]
GO
/****** Object:  ForeignKey [FK_notaFalta_modulo]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[notaFalta]  WITH CHECK ADD  CONSTRAINT [FK_notaFalta_modulo] FOREIGN KEY([idModulo])
REFERENCES [dbo].[modulo] ([idModulo])
GO
ALTER TABLE [dbo].[notaFalta] CHECK CONSTRAINT [FK_notaFalta_modulo]
GO
/****** Object:  ForeignKey [FK_notaFalta_turma]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[notaFalta]  WITH CHECK ADD  CONSTRAINT [FK_notaFalta_turma] FOREIGN KEY([idTurma])
REFERENCES [dbo].[turma] ([idTurma])
GO
ALTER TABLE [dbo].[notaFalta] CHECK CONSTRAINT [FK_notaFalta_turma]
GO
/****** Object:  ForeignKey [FK_pagamento_cobranca]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[pagamento]  WITH CHECK ADD  CONSTRAINT [FK_pagamento_cobranca] FOREIGN KEY([idCobranca])
REFERENCES [dbo].[cobranca] ([idCobranca])
GO
ALTER TABLE [dbo].[pagamento] CHECK CONSTRAINT [FK_pagamento_cobranca]
GO
/****** Object:  ForeignKey [FK_responsavel_pessoa]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[responsavel]  WITH CHECK ADD  CONSTRAINT [FK_responsavel_pessoa] FOREIGN KEY([idPessoa])
REFERENCES [dbo].[pessoa] ([idPessoa])
GO
ALTER TABLE [dbo].[responsavel] CHECK CONSTRAINT [FK_responsavel_pessoa]
GO
/****** Object:  ForeignKey [FK_turma_curso]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[turma]  WITH CHECK ADD  CONSTRAINT [FK_turma_curso] FOREIGN KEY([idCurso])
REFERENCES [dbo].[curso] ([idCurso])
GO
ALTER TABLE [dbo].[turma] CHECK CONSTRAINT [FK_turma_curso]
GO
/****** Object:  ForeignKey [FK_turma_funcionario]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[turma]  WITH CHECK ADD  CONSTRAINT [FK_turma_funcionario] FOREIGN KEY([idFuncionario])
REFERENCES [dbo].[funcionario] ([idFuncionario])
GO
ALTER TABLE [dbo].[turma] CHECK CONSTRAINT [FK_turma_funcionario]
GO
/****** Object:  ForeignKey [FK_usuario_perfil]    Script Date: 07/06/2012 21:15:12 ******/
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_perfil] FOREIGN KEY([idPerfil])
REFERENCES [dbo].[perfil] ([idPerfil])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_perfil]
GO
