/*GENERICO*/
*{padding: 0; margin: 0;}
body{ background-image: url(imagens/bg_login_2.jpg); background-repeat: no-repeat; }

/*CORPO DA PAGINA*/

/* Para fundo azul */
#syscad_superior_direito { position: absolute; margin-right: 0; float: right; font: 100px "Agency FB", Arial, Helvetica, sans-serif; color: #000099; right: 0px; 	top: 0px; }
#logo_syscad_login { position: absolute; float: left; margin-left: 30%; margin-top: 25%; width: 108px; height: 108px; }
.txt_syscad_login { width: 400px; height: 50px; font: 40px "Agency FB", Arial, Helvetica, sans-serif; border: 1px solid #000099; color: #000; }
.word_syscad_login { font: 20px "Arial MT", Arial, Helvetica, sans-serif; color: #000099; }
.word_syscad_login a { font: 10px "Arial MT", Arial, Helvetica, sans-serif; color: #000099; text-decoration: none; }
.word_syscad_login a:hover { font: 10px "Arial MT", Arial, Helvetica, sans-serif; color: #000099; text-decoration: underline; }
.word_syscad_login a:visited { font: 10px "Arial MT", Arial, Helvetica, sans-serif; color: #000099; text-decoration: none; }

#syscad_rodape_login { position: absolute; bottom: 10%; float: left; left: 10%; }
#syscad_rodape_login a { font: "Arial MT", Arial, Helvetica, sans-serif; color: #000099; text-decoration: none; }
#syscad_rodape_login a:hover { font: "Arial MT", Arial, Helvetica, sans-serif; color: #000099; text-decoration: underline; }
#syscad_rodape_login a:visited { font: "Arial MT", Arial, Helvetica, sans-serif; color: #000099; text-decoration: none; }

/*
#syscad_superior_direito { position: absolute; margin-right: 0; float: right; font: 100px "Agency FB", Arial, Helvetica, sans-serif; color: #FFF; right: 0px; 	top: 0px; }
#logo_syscad_login { position: absolute; float: left; margin-left: 30%; margin-top: 25%; width: 108px; height: 108px; }
.txt_syscad_login { width: 400px; height: 50px; font: 40px "Agency FB", Arial, Helvetica, sans-serif; border: 1px solid #000; color: #090; }
.word_syscad_login { font: 20px "Arial MT", Arial, Helvetica, sans-serif; color: #FFF; }
.word_syscad_login a { font: 10px "Arial MT", Arial, Helvetica, sans-serif; color: #FFF; text-decoration: none; }
.word_syscad_login a:hover { font: 10px "Arial MT", Arial, Helvetica, sans-serif; color: #FFF; text-decoration: underline; }
.word_syscad_login a:visited { font: 10px "Arial MT", Arial, Helvetica, sans-serif; color: #FFF; text-decoration: none; }

#syscad_rodape_login { position: absolute; bottom: 10%; float: left; left: 10%; }
#syscad_rodape_login a { font: "Arial MT", Arial, Helvetica, sans-serif; color: #D2D2D2; text-decoration: none; }
#syscad_rodape_login a:hover { font: "Arial MT", Arial, Helvetica, sans-serif; color: #D2D2D2; text-decoration: underline; }
#syscad_rodape_login a:visited { font: "Arial MT", Arial, Helvetica, sans-serif; color: #D2D2D2; text-decoration: none; }*/
